body {
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    border: 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-top: 100px;
 }

hr {
    border: none;
    color: #E72424;
    size: 2px;
    width: 64px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    margin: 29px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin-top: 28px;
}

p {
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-top: 20px;
    height: 60px;
    width: 350px;
}

section {
    display: inline-block;
    margin-top: 38px;
}

img {
    margin-top: 27%;
   
}

.circle {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    display: inline-block;
    border-radius: 50%;  
}

.craft {
    margin-left: 30px;
    margin-right: 26px;
}
